<div class="mat-elevation-z8" fxFlex="100">
    <mat-card style="text-align: center;" fxLayout="column">
        <form class="md-form">
            <div fxLayout="column" fxLayoutAlign="space-between-center" fxLayoutGap=5% fxLayoutAlign.lt-sm="space-around center" fxLayout.lt-sm="column" fxLayout.sm="column">
                <h2 fxFlex="5">ADD color</h2>



                <input type='text' placeholder="Color_En" [(ngModel)]="color.name_En" name="nameEn">
                <input type='text' placeholder="Color_Ar" [(ngModel)]="color.name_Ar" name="nameAr">


            </div>
        </form>

        <br>
        <div fxFlex="40" fxFlexAlign="center" style="align-items: center;">
            <button mat-raised-button color="primary" (click)="addcolor()">
        أضف</button>
        </div>
    </mat-card>

</div>