<div class="mat-elevation-z8" fxFlex="100">
    <mat-card style="text-align: center;" fxLayout="column">
        <form class="md-form">
            <div fxLayout="column" fxLayoutAlign="space-between-center" fxLayoutGap=5% fxLayoutAlign.lt-sm="space-around center" fxLayout.lt-sm="column" fxLayout.sm="column">
                <h2 fxFlex="5">AddBrand </h2>

                <div class="file-field" fxFlex="80">
                    <div class="mb-4">
                        <img *ngIf="brand.image==''" src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="rounded-circle z-depth-1-half avatar-pic">
                        <img [src]="brand.image " *ngIf="brand.image!=''" class="rounded-circle z-depth-1-half avatar-pic">
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="btn btn-outline-primary btn-rounded waves-effect">
                            <span>أضف صورة الماركة</span><br>
                            <input type="file" placeholder="choose photo" (change)="Upload($event)" style=" width:60%" #image accept="image/x-png,image/gif,image/jpeg">
                        </div>
                    </div>
                </div>

                <input type='text' placeholder=" Brand Name_En" [(ngModel)]="brand.name_En" name="name_En">
                <input type='text' placeholder=" Brand Name_Ar" [(ngModel)]="brand.name_Ar" name="name_Ar">


            </div>
        </form>

        <br>
        <div fxFlex="40" fxFlexAlign="center" style="align-items: center;">
            <button mat-raised-button color="primary" (click)="UploadImage()">
        أضف</button>
        </div>
    </mat-card>

</div>