table,
.mat-paginator {
    width: 100%;
}

.avatar-pic {
    width: 150px;
}

.mat-column-select {
    overflow: initial;
}

th.mat-sort-header-sorted {
    color: black;
}

* {
    box-sizing: border-box;
}

mat-icon {
    list-style: none;
    font-size: 30px;
    border-radius: 400px;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0px;
    color: #2c3e50;
}

.mat-table {
    overflow: auto;
    max-height: 100%;
}

.mobile-label {
    display: none;
}

@media(max-width: 600px) {
    .mat-table {
        width: 380px;
        display: inline-block;
    }
}

@media screen and (max-width: 960px) {
    .mat-table {
        border: 0;
        vertical-align: middle
    }
    .mat-table caption {
        font-size: 1em;
    }
}

@media(max-width: 600px) {
    .mat-paginator {
        width: 380px;
    }
}

.mat-elevation-z8 {
    height: '500px';
    width: '600px';
}

@media(max-width: 960px) {
    .mat-paginator {
        width: 390px;
    }
}

.mat-card {
    background-color: linear-gradient(to right, rgb(46, 145, 238), rgb(22, 70, 102));
}